.reveal-setup {
  -webkit-transition:0.3s ease-in all;
  -moz-transition:0.3s ease-in all;
  -ms-transition:0.3s ease-in all;
  -o-transition:0.3s ease-in all;
  transition:0.3s ease-in all;

  opacity:0;
}
.reveal-setup.reveal-start {
  opacity:1;
}

.slide-reveal-setup {
  -webkit-transition:0.3s ease-in all;
  -moz-transition:0.3s ease-in all;
  -ms-transition:0.3s ease-in all;
  -o-transition:0.3s ease-in all;
  transition:0.3s ease-in all;
  opacity:0.5;
}
.slide-reveal-setup.slide-reveal-start {
  opacity:1;
}

.slide-enter-setup {
  -webkit-transition:0.3s ease-out all;
  -moz-transition:0.3s ease-out all;
  -ms-transition:0.3s ease-out all;
  -o-transition:0.3s ease-out all;
  transition:0.3s ease-out all;
}

.slide-enter-setup {
  position:relative;
  opacity:0;
  line-height: 0  !important;
}
.slide-enter-setup.slide-enter-start {
  opacity: 1;
  line-height: 100% !important;
}

.slide-leave-setup {
  -webkit-transition:0.3s ease-in all;
  -moz-transition:0.3s ease-in all;
  -ms-transition:0.3s ease-in all;
  -o-transition:0.3s ease-in all;
  transition:0.3s ease-in all;

  position: relative;
  opacity:1;
  line-height: 100% !important;
}
.slide-leave-setup.slide-leave-start {
  opacity:0;
  line-height: 0 !important;
}

.example-animate-container {
  position:relative;
  background:white;
  border:1px solid black;
  height:40px;
  overflow:hidden;
}

.example-animate-container > div {
  padding:1em;
}

.animator-container.animations-off * {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: color 0 ease-in; /* opera is special :) */
  transition: none;
}
